$white: white;
$black: black;

$teal-1-lighter: #277552;
$teal-1-light: #75B095;
$teal-1: #499371;
$teal-1-dark: #0F5837;
$teal-1-darker: #003B20;

$teal-2-lighter: #256F5C;
$teal-2-light: #6FA698;
$teal-2: #458A79;
$teal-2-dark: #0E5342;
$teal-2-darker: #003729;

$green-lighter: #2A7E43;
$green-light: #7EBD91;
$green: #4F9D66;
$green-dark: #105E27;
$green-darker: #003F13;
